[user]
	email = hugoberthetrambaud@outlook.com
	name = Hugo Berthet-Rambaud
	signingkey = /home/hugo/.ssh/id_ed25519
[core]
	editor = hx
[gpg]
	format = ssh
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
